.navbar {
    /* background-color: #CBD1CF !important; */
    background-color: #F8B500 !important;
    font-size: 14pt;
    font-weight: 500;
    height: 75px;
    
}

.nav-link {
    color: black !important;
}

/* .body-background { */
    /* background-color:rgb(245, 243, 218)!important; */
    /* background-color: #B4D8EA !important; */
/* } */

.display-4{
    font-family: 'Roboto' , sans-serif;
    font-weight: 100 !important;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
   
}

.location {
    text-align: center;
    font-size: 14pt;
    color: white;
    
}  

.collapse{
    justify-content: center;
    padding: right 38px;
}

.jumbotron{
    
    height: 550px;
    text-align: left;
    /* background-color:rgb(245, 243, 218) !important; */
    background-color: #263D5C !important;    
}



.intro {
    
    font-size: 22pt;
    font-family: 'Oswald';
    color: white !important;   
}



/* .project { */
    /* ; */
/* } */

.card {
    height: auto;
    background-color: #263D5C !important;
    border-radius: 20px !important;
}

.card-title{
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 800 solid;
    text-align: left;
    padding-left: 5px;
    color: #F8B500;
    
}

.card-text{
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: left;
    color: whitesmoke;
}

 /* .card-button{  */
    
    /* width: 200px; */
    /* height: 50px; */
    /* font-family: 'Open Sans', sans-serif; */

/* } */

.btn {
    font-size: 15pt !important;
    border-radius: 30px !important;
    
}

.enabling-img {
    width: 900px; 
    min-height: 300px;
    border-radius: 20px;
 } 

 .airbnb-img {
    width: 900px; 
    min-height: 300px;
    border-radius: 20px;
 } 

 .container-footer {
    background-color: #F8B500;
    width: 100%;
    height: 200px;
    /* padding: 50px; */
    justify-content: center;
    align-items: center;
 }

 /* .fa-2x { */
     /* color: black; */
     /* height: 50px !important; */
     /* width: 50px !important; */
 /* } */
 

 .icon {
     font-size: 34pt !important;
     padding: 15px;
     color: black;

 }

 .icon:hover{
     color: #7D65E8 !important;
     
 }

 

 .footer-text {
     font-size: 28pt;
     padding: 8px;
     color: black;
 }

.modal-content{
    font-family:'Roboto Condensed', sans-serif;
    background-color: #263D5C !important; 
    color: #F8B500;
}

.btn-modal {
    color: #F8B500;
    background-color: #263D5C;
}


/* Media Queries============================================================= */

@media (max-width: 425px) {
    .display-4 {
        padding-top: 100px !important;
        font-size: 3.0rem !important;
     
    }
}

@media (max-width: 768px) {
    .display-4 {
        padding-top: 65px;
        font-size: 3.5rem !important;
    }
}



@media (max-width: 425px) {
    .intro {
        font-size: 14pt;
    }
}

@media (min-width: 768px) {
    .intro {
        font-size: 20pt;
    }
}


@media (min-width:768px) {
    .card{
        min-height: 300px !important;

    }
}


@media (max-width: 425px) {
    .card-title{
        font-size: 16pt;
        color:#F8B500;
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 16pt !important;
        color: #F8B500;
    }
}

@media (max-width: 425px) {
    .card-text{
        font-size: 11pt;
        color:whitesmoke;
    }
}

@media (min-width: 768px) {
    .card-text {
        font-size: 11pt;
        color: whitesmoke;
    }
}

@media (max-width: 425px) {
    .card-button {
        font-size: 12pt !important;
        color:whitesmoke;
    }
}

@media (min-width: 768px) {
    .card-button {
        font-size: 11pt !important;
        color: whitesmoke;
    }
}
