.navbar {
    /* background-color: #CBD1CF !important; */
    /* background-color: #F8B500 !important; */
    background-color: #bfced1;
    font-size: 14pt;
    font-weight: 500;
    height: 75px;
    
    
}


.logo{
    width: 140px;
    height: 140px;
    padding: 20px;
    padding-top: 30px;
}


.nav-link {
    color: black !important;
    padding: 10px;
    padding-right: 20px !important;
}

.body-background {
    background-color: #bfced1;
    
}
    

.display-4{
    font-family: 'Century Gothic' , sans-serif;
    font-weight: 100 !important;
    text-align: center !important;
    /* padding: 10px; */
    color: whitesmoke;
   
}

.location {
    text-align: center;
    font-family: 'Century Gothic', san-serif;
    font-size: 14pt;
    color: white;
    font-weight: bold;
    
}  

.collapse{
    justify-content: center;
    padding: right 38px;
}

.jumbotron{
    
    height: 550px;
    text-align: left;
    /* background-color:rgb(245, 243, 218) !important; */
    /* background-color: #263D5C !important;    */
    background-color: #bfced1 !important;
    transition: all 2s ease-in-out;
}


   
.intro {
    
    font-size: 22pt;
    font-family: 'Century Gothic';
    color: black !important;   
}

.project{
    font-family: 'Century Gothic';
    font-weight: 400;
}


.card {
    height: 356px;
    width: 422px;
    background-color: #263D5C !important;
    border-radius: 20px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
    font-family: 'Century Gothic', sans-serif;
    font-weight: 800 solid;
    text-align: left;
    /* padding-left: 5px; */
    color: #F8B500;
    
}

.card-text{
    font-size: 14pt;
    font-family: 'Century Gothic', sans-serif;
    /* padding: 20px; */
    text-align: left;
    color: whitesmoke;
}

 /* .card-button{  */
    
    /* width: 200px; */
    /* height: 50px; */
    /* font-family: 'Open Sans', sans-serif; */

/* } */

.btn {
    font-size: 15pt !important;
    font-family: 'century gothic';
    /* border-radius: 30px !important; */
    
}

.enabling-img {
    /* width: 900px;  */
    /* max-height: 300px; */
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 } 

 .airbnb-img {
    
    min-height: 356px !important;
    width: 422px !important; 
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 } 

.travel-img{
    min-height: 356px;
    width: 422px; 
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .container-footer {
    background-color: #bfced1 !important;
    width: 100%;
    height: 200px;
    /* padding: 50px; */
    justify-content: center;
    align-items: center;
 }

 /* .fa-2x { */
     /* color: black; */
     /* height: 50px !important; */
     /* width: 50px !important; */
 /* } */
 

 .icon {
     font-size: 34pt !important;
     padding: 15px;
     color: black;

 }

 .icon:hover{
     color: #7D65E8 !important;
     
 }

 

 .footer-text {
     font-size: 28pt;
     padding: 8px;
     color: black;
 }

.modal-content{
    font-family:'Roboto Condensed', sans-serif;
    background-color: #263D5C !important; 
    color: #F8B500;
}

.btn-modal {
    color: #F8B500;
    background-color: #263D5C;
}


/* Media Queries============================================================= */

@media (min-width: 425px) {
    .display-4 {
        padding-top: 100px !important;
        font-size: 3.0rem !important;
     
    }
}

@media (min-width: 768px) {
    .display-4 {
        padding-top: 65px;
        font-size: 3.5rem !important;
    }
}



@media (min-width: 425px) {
    .intro {
        font-size: 18pt;
    }
}

@media (min-width: 768px) {
    .intro {
        font-size: 20pt;
    }
}


@media (min-width:768px) {
    .card{
        min-height: 300px !important;

    }
}


@media (max-width: 425px) {
    .card-title{
        font-size: 18pt;
        color:#F8B500;
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 20pt !important;
        color: #F8B500;
    }
}

@media (max-width: 425px) {
    .card-text{
        font-size: 12pt;
        color:whitesmoke;
    }
}

@media (min-width: 768px) {
    .card-text {
        font-size: 12pt;
        color: whitesmoke;
    }
}

@media (max-width: 425px) {
    .card-button {
        font-size: 12pt !important;
        color:whitesmoke;
    }
}

@media (min-width: 768px) {
    .card-button {
        font-size: 12pt !important;
        color: whitesmoke;
    }
}
