.navbar {
    background-color:#e3f2fd !important;
}

.display-4{
    font-family: 'Roboto' , sans-serif;
    font-weight: 100 !important;
}

.collapse{
    justify-content: center;
    padding: right 38px;
}

.jumbotron{
    
    height: 640px;
    text-align: center;
    background-color: white !important;
}
/* #home{background-image: url('../img/jumbotron-bkg-2.jpg'); */
    /* margin-top: 50px; */
    /* text-align: center;} */

.intro{
    padding: 50px;
    font-size: 18pt;
    font-family: 'Oswald';
}